<h1>Pipes</h1>
<p>The total amount is {{amount () | currency}}</p><pre ngNonBindable> => {{amount () | currency}}</pre>
<p>The tax is {{tax () | currency}}</p><pre ngNonBindable> => {{tax () | currency}}</pre>
<p>The tipPercentage is {{ tipPercentage | percent }}</p><pre ngNonBindable> => {{ tipPercentage | percent }}</pre>
<p>The tip is {{ tip () | currency }} </p><pre ngNonBindable> => {{ tip () | currency }} </pre>
<h3>So the total is {{ total () | currency }} </h3><pre ngNonBindable> => {{amount () | currency}}</pre>
<h3>This is a number pipe with 5.6-8 {{ randomNumber | number: '5.6-8' }} </h3><pre ngNonBindable> => {{ randomNumber | number: '5.6-8' }}</pre>
<ul>
  <li>5. is the min number of digits at the left of the .</li>
  <li>6- is the min number of digits <b>at the right</b> of the .</li>
  <li>8 is the max of digits at the right of the .</li>
</ul>

<h2>Custom Pipe (kebab)</h2>
<p>My name is {{ myName | kebabCase:1:2 }}</p>


<h2>Custom Pipe (kebab) With Parameter</h2>
<p>My name is {{ myName | dynamicCase: format }}</p>
<ul>
  <li (click)="format = 'kebab'">kebab</li>
  <li (click)="format = 'snake'">snake</li>
  <li (click)="format = 'camel'">camel</li>
  <li (click)="format = 'pascal'">pascal</li>
</ul>