<h1>RxJS Test</h1>
<button>
  <a routerLink="/rxjs/filter-states" routerLinkActive="active" class="no-deco">Filter and Operators</a>
</button>
<button>
  <a routerLink="/rxjs/subjects" routerLinkActive="active" class="no-deco">Subject</a>
</button>
<button>
  <a routerLink="/rxjs/interval" routerLinkActive="active" class="no-deco">Interval</a>
</button>
<button>
  <a routerLink="/rxjs/operators" routerLinkActive="active" class="no-deco">Operators</a>
</button>
<button>
  <a routerLink="/rxjs/gpt-ex1" routerLinkActive="active" class="no-deco">Ex 1</a>
</button>
<button>
  <a routerLink="/rxjs/gpt-ex2" routerLinkActive="active" class="no-deco">Ex 2</a>
</button>
<router-outlet>
